*{
    padding:0px;
    margin:0px;
}
body
{
    background-color: white;
}
#head{
    height: 50px;
    font-size: 18px;
    background-color: #eee;
    margin:25px 10px 10px 20px;
    border-radius: 10px;
    padding:5px;
}
.flex{
    /* border:2px solid green; */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.flex hr{
    margin-top: 15%;
}
section{
    margin: 30px 10px 10px 20px;
}
.box{
    /* border: 2px solid blue; */
    width: 200px;
    height: 100px;
    margin-left: 20px;
    position: relative;
}
.price{
    text-align: center;
    margin-top: 40px;
}
.table_sec{
    margin: 45px 10px 10px 20px;  
}
table{
    /* margin-left: auto; */
    margin-right:auto ;
    margin-top: 15px;
    width:80%;
    border-collapse:collapse !important;
}
.bold{
    font-weight: bold;
}
#box-1::before{
    content: "";
    background: url('yellow.png')no-repeat center center/cover;
    position: absolute;
    top:0px;
    left:0px;
    width: 200px;
    height: 100px;
    z-index:-1;
    opacity: 0.5;
}
#box-2::before{
    content: "";
    background: url('blue.png')no-repeat center center/cover !important;
    position: absolute;
    top:0px;
    left:0px;
    width: 200px;
    height: 100px;
    z-index:-1;
    opacity: 0.5;
}
#box-3::before{
    content: "";
    background: url('green.jpg')no-repeat center center/cover !important;
    position: absolute;
    top:0px;
    left:0px;
    width: 200px;
    height: 100px;
    z-index:-1;
    opacity: 0.5;
}
#box-4::before{
    content: "";
    background: url('red.png')no-repeat center center/cover !important;
    position: absolute;
    top:0px;
    left:0px;
    width: 200px;
    height: 100px;
    z-index:-1;
    opacity: 0.5;
}
.box a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:blue;
}